@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
  box-sizing: border-box;
  font-family: Nunito, sans-serif;
  font-weight: bold;
  max-width: 800px;
  margin: auto;
}

.header {

  margin: auto;
  background-color: #191919;
  height: 50px;
  padding-top: 0px;
  padding-bottom: 10px;
  color: white;
}

.header a {
  color: white;
}

.top-bar {
  margin-top: 20px;
  color: black;
}

.first {
  margin-top: 60px;
}

.cookies {
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.logo {
  float: left;
  color: black;
  margin-left: 30px;

}

.ul a {
  float: right;
  margin: 0;
}

.menu a {
  color: black;
  text-decoration: none;
}

.menu_links {
  display: inline;
  list-style-type: none;
  margin-right: 30px;
  color: black;
  float: right;
}

.top-bar {
  font-size: 30px;
}

.first {
  text-align: center;
  font-size: 60px ;
  padding-top: 50px;
}

.big-img {
  margin-top: 50px;
}

.arrow {
  transform: rotate(90deg);
  height: 40px;
  margin: 120px 0px 40px 0px;
}

.arrow-right {
  height: 40px;
  float: right;

}

.arrow-right-black-box {
  height: 40px;
  float: right;
  margin-right: 60px;

}

.text-left {
  float: left;
  font-size: 30px;
}
.text-left-white {
  float: left;
  margin-left: 50px;
  font-size: 30px;;
}
.third {
  margin-bottom: 120px;
}
.fourth {
  text-align: center;
  height: 100px;
  margin: auto;
  background-color: #efefef;
  padding: 30px 60px 0px 60px;
  vertical-align: middle;
  margin-bottom: 50px;
}

.below-image {
  margin-top: 30px;
}

.black-box {
  height: 500px;
  background-color: #191919;
  width: 100%;
  margin-bottom: 50px;
}
.black-box2 {
  height: 500px;
  background-color: #191919;
  width: 100%;
  margin-bottom: 50px;
}

.in-box {
  color: white;
  font-size: 100px;
  padding: 30px 0px 0px 60px;
}
.box-bottom-text {
  padding: 150px 0px 0px 30px;
  color: white;
}


.box-bottom-text2 {
  padding: 270px 0px 0px 30px;
  color: white;
}
.privacy_policy {
  margin-top: -40px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.privacy_policy a {
  color: black;
  text-decoration: none;
}

.btm-bar {
  margin: auto;
  padding-bottom: 30px;
  color: black;
}
.btm-bar ul {
  color: black;
}


.mail {
  text-decoration: none;
  color: black;
}